/* membuat body berwarna abu-abu dan font arial, sans serif ukuran 16px */
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* membuat canvas putih ditengah */
.container {
    background-color: white;
    margin: 0 auto;
    width: 800px;
}

/* mengatur jarak dalam header */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* mengatur judul */
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi atau menu atas */
.nav {
   padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.nav li a {
    color: navy;
    text-decoration: none;
}

/* membuat animasi saat link disorot */
.nav li a:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

/* Untuk CSS Banner */
.banner {
    height: 300px;
    /* Tambahkan ../ sebelum img/ agar CSS bisa keluar dari folder css */
    background-image: url(../img/windah.jpg);
    background-size: cover;
    background-position: center;
    border-top: 5px solid navy;
    border-bottom: 5px solid skyblue;
}

/* untuk isi */
.isi {
    padding: 20px;
}
 
.isi h2 {
    font-size: 30px;
    font-weight: bold;
}
 
.isi .penulis {
    font-size: 14px;
    margin-top: -10px;
}
 
.isi .penulis a {
    text-decoration: none;
    color: skyblue;
}
 
.isi p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* untuk footer */
.footer {
    background-color: navy;
    height: 50px;
    padding: 2px;
}
 
.footer .copyright {
    font-size: 16px;
    color: white;
    text-align: center;
}